<div class="cat-container">
<h1>Hello, <%= name %>, here are your cat pics!</h1>
<h2>This cat is three. Our records show that you are <%= age %> years old, <%= name %>!</h2>
<img src="assets/images/justaintright.gif" />
</div>
