<div class="cat-container">
<h1 id="catTitle" data-name="<%= name %>">Hello, <%= name %>, which is your favorite cat picture?</h1>
<h2 id="catAge" data-age="<%= age %>">Please click on your favorite!</h2>
<%- include('../partials/cat-img-form.ejs') %>
</div>
