<div id="fciContainer" class="fci-container">
<div>
<h1>If this is not your favorite cat picture</h1>
<img src="<%= fci %>" />
<h2>Please pick another image!</h2>
</div>
<%- include('./partials/cat-img-form.ejs') %>
</div>