<h1>Hello Cat Fanciers!<h1>
<h2>And Hello Kitty!</h2>
<div hidden id="name" data-value="<%= name %>"></div>
<div hidden id="age" data-value="<%= age %>"></div>
<div hidden id="fci" data-value="<%= fci %>"></div>
<div hidden id="id" data-value="<%= id %>"></div>
