* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    height: 200px;
    width: auto;
}

.form-container {
    background-color: red;
    height: 100vh;
    width: 100vw;
}

.cat-container {
    background-color: cyan;
    height: 100vh;
    width: 100vw;
}

.cat-image-div {
    display: flex;
    cursor: pointer;
}